# Don't use quotes( " and ' )

API_ID=10655360
API_HASH=32aa547bd6cc2e9f61063cd31e0bc0a5
SESSION=1BVtsOLUBu5NEgSKi2RnMnGKnEi-xa6e5j1pAVaj9eW2ILPDNNL5C0w1gRCD2ZA1GUDEz0Vw66F-vJzFWpsJy5o6ht9EHaPjEAdMACra66l6oHwZZ1PVUL0MohCfIc9eO2bovGMgNq2zvttCSSy9bMwn9wiim9bn9wwyarelzRxScxV9SmpLjpf1rNNVEEx3ziJnQUP8E2eaylgjwzEWfMWvO_iydzOXdHubjm5VC7jpeL39wGnnqIhWa5yYrTCJuZOU3_pPxBZ1SOy0BVWtZUwtkNHysN54kMrklryTvTGtXOqaJdWfPDBXSqDx67sRklWKozFvyOf8EVexv6_xoceeaZACNeg8=
REDIS_URI=redis-10397.c85.us-east-1-2.ec2.cloud.redislabs.com:10397
REDIS_PASSWORD=4haRNbga9ycyyZpH59d2UXHqbPcI5rt1

# [OPTIONAL]

LOG_CHANNEL=-1001717936747
BOT_TOKEN=5374835019:AAEnhlYcZ0qGlTJmjYFgEWaKEWPlAxJOO9g
